extends base

block content
	main.container
		h1.text-center.mt-4.mb-4 Canteens of Cosmos
		.row.mb-2
			each canteen in canteens
				.col-md-6
					.row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-250.position-relative
						.col.p-4.d-flex.flex-column.position-static
							h3.mb-0.text-primary #{canteen.name}
							.mb-1.text-muted #{canteen.address}
							p.card-text.mb-auto
								| #{canteen.description}
							a.stretched-link(href='#') Show Menu
						.col-auto.d-none.d-lg-block
							img.canteen(src=`${canteen.photo}` alt=`${canteen.name}`)
